<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>circle_animation/01.png</key>
		<dict>
			<key>frame</key>
			<string>{{605, 1}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>circle_animation/02.png</key>
		<dict>
			<key>frame</key>
			<string>{{303, 1}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>circle_animation/03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>circle_animation/04.png</key>
		<dict>
			<key>frame</key>
			<string>{{303, 303}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>circle_animation/05.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 303}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>circle_animation/06.png</key>
		<dict>
			<key>frame</key>
			<string>{{303, 605}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>circle_animation/07.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 605}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>circle_animation/08.png</key>
		<dict>
			<key>frame</key>
			<string>{{605, 303}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>circle_animation/09.png</key>
		<dict>
			<key>frame</key>
			<string>{{605, 605}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>circle_animation/10.png</key>
		<dict>
			<key>frame</key>
			<string>{{907, 1}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>textureFileName</key>
		<string>circle_animation.png</string>
	</dict>
</dict>
</plist>
